
* {
    box-sizing: border-box;
}

html {
    width:100%;
    height:100%;
}
body {
    margin: 0;
    background-color: #202225;
    color: white;
    font-size: 20px;
    width:100%;
    height:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root{
    width:100%;
    height:100%;
}

.nav {
    background-color: #2f3136;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;
    padding: 0 1rem;
    font-weight: 400;
    height: 50px;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 80%;
    display: flex;
    align-items: center;
    padding: .25rem;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s ease-out;
    padding-bottom: 6px;
    padding-top: 3px;
    margin-top: 5px;
}

nav .inactive:hover,
.inactive:focus {
    background-color: rgb(68, 68, 68);
    border: 3px black solid transparent;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 9999px;

}

nav .active {
    background-color: rgb(15, 15, 15);
    border: 3px black solid transparent;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 9999px;
    align-items: center;
    justify-content: center;

}

.home-page {
    text-align: center;
}

.card {
    background-color: #3f7fbf;
    margin: auto;
    width: 20%;
    
    border-radius: 5px;

    transition: 0.3s;
    text-align: center;
    transition: 0.2s all;

}

.card a:link {
    text-decoration: none;
}

.card a:visited {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 15px 20px 0 rgba(11, 160, 230, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.card a:active {
    text-decoration: none;
    background-color: rgb(72, 95, 230, 0.733);
    box-shadow: 0 5px #666;
}

.card h4 {
    color: white;
}

.container {
    padding: 2px 16px;
}

.about-page {
    text-align: center;
}


.journal-page{
    width: 40vw;
    margin:auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.journal-bar {
    display: flex;
    width:100%;
    justify-content: space-between;

}

.journal-header {
    width:100%;
    
}

.search-bar-form{
    width:100%;
    display:flex;
    justify-content: space-between;

}
.search-bar-div{
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:1rem;
    margin-bottom:2rem;
}
.title-bar{
    width:50%;
}
.tag-bar{
    width:50%;
}
.journal-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 15px;
    
    transition: all 0.5s ease-out;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 5px;
}

.journal-buttons button {
    height: 35px;
    width: 90px;
    border: none;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 9999px;

}

.journal-buttons button:hover {
    transform: translateY(4px);
}
.create-button,.edit-button{
    transition-duration: 200ms;
    font-weight:500;
}
.create-button{
    background-color: #539dda;
    border-color: #3e8ed0;
}
.create-button:hover {
    background-color: #3880c9;
    color: white;
}

.edit-button{
    background-color: rgb(11, 173, 11);
}

.edit-button:hover {
    background-color: rgb(81, 187, 116);
    color: white;
}


.search-bar-container {
    display: flex;
    justify-content: center;
    gap:1rem;
    
}



.title-search-bar {
    width:100%;
    height:38px;
    font-size: 24px;
    
}


div.react-select__input-container {
    color: blue;
}

div.react-select__menu_list {
    color: blue;
}

div.react-select__menu {
    color: blue;
}

div.react-select__menuList {
    color: blue;
}

div.react-select__multi-value {
    color: red;

}
.journal-list{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    width:100%;
    justify-content: space-around;
}
.new-note-container {
    width:40vw;
    margin:auto;
    height:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.new-note-title {
    width:100%;
    
}
.search-bar-container{
    display:flex;
    margin-bottom:1rem;

}

.new-note-div, .text-area, textarea {
  width: 100%;  
}



.save-cancel-buttons {
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}

.save-cancel-buttons button {
    height: 35px;
    width: 90px;
    border: none;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 9999px;
}

.save-cancel-buttons button:hover {
    cursor: pointer;
}

.save-button {
    background-color: rgb(81, 187, 116);

}

.cancel-button {
    background-color: red;
    margin-right: 248px;
}


.scard a {
    text-decoration: none;
}

.note-card {
    color: white;
    border-color: grey;
    border-width:1px;
    border-style: solid;
    background-color: #3e8ed0;
    margin: auto;
    padding:1rem;
    width: 200px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    transition: 0.2s all;
}

.note-card:hover, .note-card:focus{
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.856);
}

.note-card-title{
    font-size: x-large;
    font-weight:500;
    overflow: hidden;
    margin-bottom: 3px;
}
.note-card-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.note-card-tag{
    background-color: green;
    padding:4px;
    width:auto;
    height:auto;
    font-size:13px;
    font-weight:700;
    border-radius:6px;

    
}


.view-note-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    height:100%;
    
}
.view-note-container h1{
    width:100%;
}
.view-note-tag-container {
    width:100%;

}
.headers-buttons{
    display:inline;
    justify-content: space-between;
    align-items: end;
    
}
.view-buttons-container{
    gap:1rem;
}

.view-buttons-container {
    display:flex;
    width:100%;
}
.view-note-body-title{
    width:20%;
}
.view-buttons-container button {
    height: 35px;
    width: 90px;
    border: none;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 9999px;
    color: white;
}

.view-buttons-container button:hover {
    transform: translateY(4px);
    cursor: pointer;
}

.view-edit-button button {
    background-color: rgb(81, 187, 116);

}

.view-back-button button {
    background-color: rgb(63, 59, 59)
}

.view-delete-button button {
    background-color: red;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: fixed;
    background: #202225;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}




.display-none {
    display: none;
}
.view-note-tags ul{
    padding-inline-start: 25px;
}

.edit-tag-container {
    display: grid;
    justify-content: left;
    

}

.edit-tag-container button {
    background-color: red;
    border: 2px solid;
    border-radius: 4px;
}

.edit-tag-container input {
    border-radius: 4px;
    border: 2px solid rgb(18, 154, 218)
}
.markdown-div{
    width:100%;
}

.markdown-box {
    width: 100%;
    height:100%;
    border: 1px solid rgb(0, 195, 255);
    background-color: rgb(248, 247, 246);
    color:black;
}

.markdown-box p {
    margin: 0;
}

.modal-content{
    border-radius: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    height:50%;
    max-width: 100%;
    max-height: 100%;
}

.modal-content h4{
    width:100%;
    font-size:2.5rem;
    margin:0;
    
}
.edit-tags-form{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.edit-tag-container{
    display:flex;
    margin:5px;
    
}

.edit-tag-container input{
    height: 38px;
    width: 200px;
    font-size: 1rem;
    
}

.edit-tag-container .cancel-button {
    height:38px;
    width:38px;
    margin-left: 0.4rem;
    margin-right:1rem;
    background-color: white;
    border:0.5px solid red;
    color: red;
    font-size: 2rem;
    transition-duration: 400ms;
}

button.cancel-button:hover{
    background-color: red;
    color:white;
}

button.edit-tag-close{
    height: 35px;
    width: 90px;
    border-style: none;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 1rem;
    color: black;
    font-weight:700;transition-duration: 400ms;
}

button.edit-tag-close:hover{
    cursor: pointer;
    background-color: #df2935;
    color:white;
}

.journal-page h1,p{
    width:100%;
}

.habit-buttons{
    width:100%;
    padding:0;
    display:flex;
    justify-content: space-between;
}

.habit-buttons button{
    transition:400ms;
    font-weight: 700;
    border-color: #3e8ed0;
    border-width:2px;
    border-style: solid;
}
.habit-buttons button:hover{
    color:white;
    background-color: #3e8ed0;
}

.habit-page .habit{
    margin-top: 2rem;
    text-align: center;
    
}